body,
html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: black !important;
    background-image: url("../images/backgrounds/14.png");
    background-size: cover;
    background-repeat: repeat;
}

html {
    scroll-behavior: smooth
}

.navbar {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    z-index: 99;
}

.navbar a {
    color: white;
    transition: 0.2s ease-in;
}

.navbar a:hover {
    color: darkgrey !important;
}

.navbar-logo {
    max-width: 80px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none;
}

.navbar-logo-big {
    max-width: 120px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.fixedBrand {
    z-index: 99;
    position: fixed !important;
    top: 10px;
    left: 10px;
}

.fixed-menu .navbar-toggler {
    position: fixed !important;
    right: 10px;
    top: 10px;
    z-index: 99;
}

.fixed-collapse {
    position: fixed !important;
    right: 20px;
    top: 20px;
}

.fixedMenu {
    z-index: 99;
    position: fixed !important;
    top: 10px;
    right: 5px;
}

.hide-on-mobile {
    visibility: visible;
    display: block;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.show-on-mobile {
    visibility: hidden;
    display: none;
}

.full-container {
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.col-with-bg {
    width: 50vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}


.col-with-bg h2 {
    color: white;
    font-size: 4em;
}


.col-with-bg p {
    color: white;
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 0;
}


.col-with-bg button {
    color: white;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(68, 68, 68, 1);
    margin-top: 50px;
    border: none;
    transition: 1s ease-in;
}

.col-with-bg button:hover {
    background-color: darkgrey;
}

.col-with-bg button a {
    color: white;
}

.col-no-bg {
    width: 50vw;
    height: 100vh;
}

.full-text-container {
    position: absolute;
    /* 2 */
    top: 50%;
    /* 3 */
    transform: translate(0, -50%)
}

ul span {
    background: white !important;
}


.contact-button {
    max-height: 100px;
    background-color: white;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
    transition: ease-in 0.5s;
}

.contact-button:hover {
    background-color: darkgrey;
}

.main-page-header {
    color: white;
    font-size: 3.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.main-page-text {
    margin-top: 25px;
    color: white;
    font-size: 1.2em;
}


.header-text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.brands-container {
    width: 100%;
    margin-top: 105px;
    text-align: center;
}

.brands-header {
    color: white;
    font-size: 1.5em;
}

.brand-list {
    padding: 15px;
}

.brand-list li {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

.black-bg {
    background: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.brand-logo {
    max-width: 200px;
    margin-top: 30px;
}

.pad-sides {
    padding-left: 30px !important;
    padding-right: 30px !important;
    white-space: nowrap;
}

.bg-grey {
    background: #000000;
}

.logo-footer {
    margin-bottom: 40px;
}

footer {
    color: grey;
}

footer p {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}

footer a {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}

.btn-footer {
    color: grey;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover {
    text-decoration: none;
}

footer h6 {
    font-family: Helvetica, serif;
    margin-bottom: 40px;
    position: relative;
}

footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.social a i {
    font-size: 30px;
    padding-left: 10px;
    color: white;
    transition: 0.5s, ease-in;
}

.social a i:hover {
    color: grey;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;

}

.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}

.main-page-header-container {
    text-align: left;
    margin-top: 100px;
}

#carousel-item-container {
    opacity: 1;
}

.selected #carousel-item-container {
    width: 500px;
    height: 400px;
    background-color: white;
    text-align: center;
    z-index: 5;
}

.prev #carousel-item-container {
    width: 350px;
    height: 275px;
    background-color: white;
    text-align: center;
    z-index: 3;
}

.next #carousel-item-container {
    width: 350px;
    height: 275px;
    background-color: white;
    text-align: center;
    z-index: 3;
}

.prevLeftSecond #carousel-item-container {
    width: 250px;
    height: 200px;
    background-color: white;
    text-align: center;
    z-index: 2;
}

.nextRightSecond #carousel-item-container {
    width: 250px;
    height: 200px;
    background-color: white;
    text-align: center;
    z-index: 2;
}

.preview-image {
    width: 80%;
    position: absolute;
    bottom: 50%;
    transform: translateY(0%) translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: width 2s, height 2s;
}

#carousel {
    height: auto;
    width: 100%;
    overflow: auto;
}

#slide-container {
    position: absolute;
    /* transition: transform 5s ease-out, filter 2s ease-out, width 2s ease-out, height 2s ease-out, z-index 0s ease-out; */
    transition: 2s ease-in-out, z-index 0s ease-out, filter 2s ease-out, transform 2s ease-out;
    opacity: 1;
}

.carousel-collapsed {
    width: 80%;
    height: auto;
    background-color: white;
    padding-top: 30px;
    text-align: center;
    z-index: 5;
    margin: 100px auto;
}

.carousel-collapsed .preview-image {
    margin: 0 auto;
    display: block;
    position: relative;
    transform: translateY(0%) translateX(0%);
}


/*Film carousel */

#film-carousel-container {
    height: auto;
    width: 100%;
    overflow: auto;
}

#next-button img {
    position: absolute;
    left: 90%;
    width: 70px;
    transform: translateY(180px) translateX(-300px);
    transition: 0.05s ease-in;
}


#prev-button img {
    position: absolute;
    width: 70px;
    left: 10.5%;
    transform: translateY(180px) translateX(220px);
    transition: 0.05s ease-in;

}

#next-button img:active {
    width: 65px;
}


#prev-button img:active {
    width: 65px;

}


#carousel-item-container {
    opacity: 1;
}

#film-slide-container {
    position: absolute;
    /* transition: transform 5s ease-out, filter 2s ease-out, width 2s ease-out, height 2s ease-out, z-index 0s ease-out; */
    transition: opacity 2s, z-index 0s ease-out, filter 2s ease-out;
    opacity: 1;
}

.film-carousel-collapsed {
    width: 90%;
    height: 290px;
    background-color: white;
    text-align: center;
    z-index: 5;
    margin: 100px auto;
}

.resp-video {
    margin-top: 100px;
    border: 10px solid white;
    border-radius: 10px;
}

.film-selected #carousel-item-container {
    width: 760px;
    height: 435px;
    background-color: white;
    z-index: 5;
    border: 10px solid white;
    border-radius: 10px;
}

.film-prev #carousel-item-container {
    width: 760px;
    height: 435px;
    background-color: white;
    text-align: center;
    z-index: 3;
    border: 10px solid white;
    border-radius: 10px;
}

.film-next #carousel-item-container {
    width: 760px;
    height: 435px;
    background-color: white;
    text-align: center;
    z-index: 3;
    border: 10px solid white;
    border-radius: 10px;
}

.film-prevLeftSecond #carousel-item-container {
    width: 760px;
    height: 435px;
    background-color: white;
    text-align: center;
    z-index: 2;
    border: 10px solid white;
    border-radius: 10px;
}

.film-nextRightSecond #carousel-item-container {
    width: 760px;
    height: 435px;
    background-color: white;
    text-align: center;
    z-index: 2;
    border: 10px solid white;
    border-radius: 10px;
}

.film-prev iframe {
    pointer-events: none
}

.film-next iframe {
    pointer-events: none
}


#film-carousel-container div.film-prev {
    z-index: 8;
    left: 50%;
    transform: translateY(-30px) translateX(-43%);
    filter: brightness(40%)
}


#film-carousel-container div.film-prevLeftSecond {
    z-index: 6;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
    filter: brightness(30%)
}

#film-carousel-container div.film-selected {
    z-index: 10;
    left: 50%;
    filter: brightness(100%);
    transform: translateY(0px) translateX(-50%);
}

#film-carousel-container div.film-next {
    z-index: 9;
    left: 50%;
    transform: translateY(30px) translateX(-57%);
    filter: brightness(50%)
}

#film-carousel-container div.film-nextRightSecond {
    z-index: 7;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
    filter: brightness(30%)
}

.show-on-smaller-screen {
    display: none;
    visibility: hidden;
}

.hide-on-smaller-screen {
    visibility: visible;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}



.privacy-container h1 {
    color: white;
}

.privacy-container p {
    color: white;
}

.privacy-container a {
    color: white;
}

.privacy-container h2 {
    color: white;
}

.privacy-container h3 {
    color: white;
}

.privacy-container li {
    color: white;
}

.contact-container {
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    background-color: black;
    margin-top: 100px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

.contact-container h2 {
    color: white;
    text-align: left;
    position: relative;
    overflow: hidden;
    font-size: 2em;
}

.circle-image {
    width: 250px;
    border-radius: 50%;
    transform: translateY(-15%) translateX(-15%);
}

.column-left img:hover {
    -webkit-box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.64);
}

.column-left img {
    transition: 1s;
}

.contact-container a {
    color: white;
    transition: 1s;
    text-decoration: none;
    margin-left: 0.5em;
}

.contact-container p {
    margin-bottom: 0.5em;
    color: white;
}

.contact-container a:hover {
    color: #535353;
    text-decoration: underline;
}

.column-left {
    width: 30%;
    float: left;
}

.column-right {
    width: 70%;
    float: right;
    padding: 15px;
}

.contact-container:after {
    content: "";
    display: table;
    clear: both;
}

.contact-info-sub {
    font-size: 0.5em;
    margin-left: 0.5em;
    color: darkgrey;
}


.selected .carousel-item-text {
    padding-top: 250px;
    text-align: center;
}

.prev .carousel-item-text {
    padding-top: 150px;
    text-align: center;
}

.next .carousel-item-text {
    padding-top: 150px;
    text-align: center;
}

.prevLeftSecond .carousel-item-text {
    padding-top: 120px;
    text-align: center;
}

.nextRightSecond .carousel-item-text {
    padding-top: 120px;
    text-align: center;
}

.next .carousel-item-text h3 {
    font-size: 1.5em;
}

.prev .carousel-item-text h3 {
    font-size: 1.5em;
}

.nextRightSecond .carousel-item-text h3 {
    font-size: 1em;
}

.prevLeftSecond .carousel-item-text h3 {
    font-size: 1em;
}

.next .carousel-item-text p {
    font-size: 0.7em;
    padding: 0;
}

.nextRightSecond .carousel-item-text p {
    font-size: 0.5em;
    margin-bottom: 0;
    padding: 0;
}


.prevLeftSecond .carousel-item-text p {
    font-size: 0.5em;
    margin-bottom: 0;
    padding: 0;
}


.prev .carousel-item-text .gallery-button {
    padding: 5px 12px;
    font-size: 10px;

}

.next .carousel-item-text .gallery-button {
    padding: 5px 12px;
    font-size: 10px;
}

.prevLeftSecond .carousel-item-text .gallery-button {
    padding: 4px 10px;
    font-size: 8px;

}

.nextRightSecond .carousel-item-text .gallery-button {
    padding: 4px 10px;
    font-size: 8px;
}

.prev .carousel-item-text p {
    font-size: 0.7em;
    padding: 0;

}

.carousel-item-text p {
    font-family: Helvetica, sans-serif;
}

.gallery-button {
    border-radius: 25px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 15px;
}

.links-list a {
    color: white;
    decoration: none;
    transition: 0.5s ease-in;
}

.carousel-item-text h3 {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
}

#carousel div img {
    transition: width 1s;
}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-70%);
    display: none;
    visibility: hidden;

}

#carousel div.hideLeft img {
    width: 200px;
}

#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
    display: none;
    visibility: hidden;

}


#carousel div.prev {
    z-index: 5;
    left: 25%;
    transform: translateY(30px) translateX(-50%);
    filter: brightness(50%)
}


#carousel div.prevLeftSecond {
    z-index: 4;
    left: 5%;
    transform: translateY(40px) translateX(-50%);
    filter: brightness(30%)
}

#carousel div.selected {
    z-index: 10;
    left: 50%;
    filter: brightness(100%);
    transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
    z-index: 5;
    left: 75%;
    transform: translateY(30px) translateX(-50%);
    filter: brightness(50%)
}

#carousel div.nextRightSecond {
    z-index: 4;
    left: 95%;
    transform: translateY(40px) translateX(-50%);
    filter: brightness(30%)
}

.img-container {
    width: 100%;
    max-height: 400px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    margin-top: 8px;
}

.img-gallery {
    width: 100%;
    object-fit: cover;
}

.form-container {
    background-color: black;
    padding: 15px;
    border-radius: 20px;
}

.buttons {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}


.top-text {
    color: darkgray;
    padding: 0;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 300;
}

.sub-text {
    font-size: 11px;
    padding: 0;
    margin: 0;
    color: darkgrey;
    font-weight: 300;
}

.portfolio-header {
    color: white;
    font-weight: 400;
}

.profile-image {
    max-width: 50px;
    margin-top: 5px;
}

/* ---------------TEST CSS----------------- */
.img-container {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    display: block;
    margin-top: 8px;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 15%;
    /* IE10 */
    flex: 15%;
    max-width: 15%;
    padding: 0 4px;
}

.column-graphics {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
}

.column-sides {
    -ms-flex: 20% !important;
    /* IE10 */
    flex: 20% !important;
    max-width: 20% !important;
    padding: 0 4px;
}

.column img {
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    display: block;
}

.img-container:hover img {
    transform: scale(1.2);
}

.whitespaces {
    padding-left: 55px;
}


/*-----*/

.card {
    border: 3px solid white !important;
    border-radius: 50px !important;
    padding: 10px 0px;
    background-color: rgba(255, 255, 255, 0) !important;
    transition: 0.5s ease-in;
}

.card h5 {
    color: white;
}

.card p {
    color: white;
}

.card li {
    background-color: rgba(255, 255, 255, 0) !important;
    color: white;
    border: none;
}

.table-responsive th {
    color: white;
}

.table-responsive tr {
    color: white;
}

.card::after {
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    backface-visibility: hidden;
    will-change: transform;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .75) !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.card:hover::after {
    opacity: 1;
}

.offer-header {
    color: white;
}

@media only screen and (max-width: 1795px) {
    .show-on-smaller-screen {
        display: block;
        visibility: visible;
    }

    .hide-on-smaller-screen {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .show-on-mobile {
        visibility: visible;
        display: block !important;
    }

    .hide-on-mobile {
        visibility: hidden;
        display: none !important;
    }

    .pad-sides {
        padding: 0;
    }

    .main-page-header {
        font-size: 2.4em;
    }

    .main-page-text {
        font-size: 1em;
    }

    .main-page-header-container {
        text-align: center;
    }

    .nav-item a {
        margin-left: 0%;
        margin-right: 0%;
        text-align: left;
        white-space: nowrap;
    }

    .selected #carousel-item-container {
        width: 300px;
        height: 250px;
        background-color: white;
        text-align: center;
        z-index: 5;
    }

    .prev #carousel-item-container {
        width: 200px;
        height: 180px;
        background-color: white;
        text-align: center;
        z-index: 3;
    }

    .next #carousel-item-container {
        width: 200px;
        height: 180px;
        background-color: white;
        text-align: center;
        z-index: 3;
    }

    .prevLeftSecond #carousel-item-container {
        width: 150px;
        height: 125px;
        background-color: white;
        text-align: center;
        z-index: 2;
    }

    .nextRightSecond #carousel-item-container {
        width: 150px;
        height: 125px;
        background-color: white;
        text-align: center;
        z-index: 2;
    }

    .selected .carousel-item-text {
        padding-top: 130px;
        text-align: center;
    }

    .prev .carousel-item-text {
        padding-top: 100px;
        text-align: center;
    }

    .next .carousel-item-text {
        padding-top: 100px;
        text-align: center;
    }

    .prevLeftSecond .carousel-item-text {
        padding-top: 40px;
        text-align: center;
    }

    .nextRightSecond .carousel-item-text {
        padding-top: 40px;
        text-align: center;
    }

    .next .carousel-item-text h3 {
        font-size: 1em;
        padding: 0;
    }

    .prev .carousel-item-text h3 {
        font-size: 1em;
        padding: 0;
    }

    .nextRightSecond .carousel-item-text h3 {
        font-size: 0.6em;
        padding: 0;
    }

    .prevLeftSecond .carousel-item-text h3 {
        font-size: 0.6em;
        padding: 0;
    }

    .selected .carousel-item-text h3 {
        font-size: 1.2em;
        padding: 0;
    }

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .whitespaces {
        display: none;
    }

    .contact-container {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        background-color: black;
        margin-top: 100px;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
    }

    .contact-container h2 {
        color: white;
        text-align: left;
        position: relative;
        overflow: hidden;
        font-size: 2em;
    }

    .circle-image {
        width: 250px;
        border-radius: 50%;
        transform: translateY(0%) translateX(0%);
    }

    .column-left img:hover {
        -webkit-box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.64);
        -moz-box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.64);
        box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.64);
    }

    .column-left img {
        display: block;
        margin: 0 auto;
        transition: 1s;
    }

    .contact-container a {
        color: white;
        transition: 1s;
        text-decoration: none;
        margin-left: 0.5em;
    }

    .contact-container p {
        margin-bottom: 0.5em;
        color: white;
    }

    .contact-container a:hover {
        color: #535353;
        text-decoration: underline;
    }

    .column-left {
        width: 100%;
        float: none;
    }

    .column-right {
        width: 100%;
        float: none;
        padding: 15px;
    }

    .contact-container:after {
        content: "";
        display: table;
        clear: both;
    }

    .contact-info-sub {
        font-size: 0.5em;
        margin-left: 0.5em;
        color: darkgrey;
    }

    .preview-image {
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: width 2s, height 2s;
    }

    .col-with-bg {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .col-no-bg {
        width: 0vw;
        height: 0vh;
    }

    .full-text-container {
        position: absolute;
        /* 2 */
        top: 50%;
        /* 3 */
        transform: translate(0, -50%)
    }


}

@media only screen and (max-width: 576px) {
    .main-page-header {
        font-size: 2em;
    }

    .main-page-text {
        font-size: 1em;
    }

    .whitespaces {
        display: none;
    }

    .privacy-container h1 {
        color: white;
        font-size: 1em;
    }

    .privacy-container p {
        color: white;
        font-size: 0.6em;

    }

    .privacy-container a {
        color: white;
        font-size: 0.8em;
    }

    .privacy-container h2 {
        color: white;
        font-size: 0.9em;

    }

    .privacy-container h3 {
        color: white;
        font-size: 0.85em;

    }

    .privacy-container li {
        color: white;
        font-size: 0.6em;

    }

    .col-with-bg h2 {
        color: white;
        font-size: 3em;
    }


    .col-with-bg p {
        color: white;
        font-size: 1em;
        font-weight: 200;
        margin-bottom: 0;
    }
}